%h1
  %img{src: '/images/title_businessfields.gif', alt: "事業内容", width: "750", height: "80"}
%h2
  %img{src: '/images/subtit_businessfields.gif', alt: "事業内容", width: "79", height: "19"}

#business
  %p
    %span.fontR_frt 1. デジタルデータ(電子カタログ、コンテンツの作成)
    %br
    技術資料、サービスマニュアル、取扱説明書、プレゼンテーション、学会発表用等に動画を使って説明できます。
    %br
    インターネット上で商品案内をし、受注もインターネット経由で行なうシステムの制作から、
    %br
    CD-ROMに入れて顧客に配布するまでの一貫作業も、お請けしております。
  %p
    %span.fontR_frt 2. 取扱説明書、サービスマニュアル、カタログ、パンフレット等の企画・制作
    %br
    取材から原稿作成し、データ納品から印刷までお請けしております。
    %br
    ・取扱説明書 : 対象者を想定した企画・編集、さらに製造物責任法(PL)に対応。
    %br
    ・サービスマニュアル : 短時間でサービス作業を完了させる考慮と、分かりやすく正しく伝える技術があります。
  %p
    %span.fontR_frt 3.図形データの入力
    %br
    アナログで描いた図形をデジタルデータ化したり、2次元図を2.5次元図/3次元図化(立体図)しております。
  %p
    %span.fontR_frt 4.設計・製図
    %br
    真空に関する機構部の設計・構図
    %br
    ・AutoCADによるデータ(DWG)化
  %p
    %span.fontR_frt 5.翻&nbsp;訳
    %br
    和文から欧文、中国語、ロシア語(逆も可) *その他の言語は、要相談。
    %br
    ・テキストデータで、お渡しすることも可能です。
  %p
    %span.fontR_frt ■実績一例
    %br
    %object{classid: "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", codebase: "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0", width: "655", height: "484"}
      %param{name: 'movie', value: "/movies/copy.swf"}
      %param{name: 'quality', value: 'high'}
      %embed{src: "/movies/copy.swf", quality: 'high', pluginspage: "http://www.macromedia.com/jp/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash", type: "application/x-shockwave-flash", width: "655", height:"484"}
