%h1
  %img{src: '/images/title_companyinfo.gif', alt: "会社概要", width: "750", height: "80"}
%h2
  %img{src: '/images/subtit_message.gif', alt: "ごあいさつ", width: "92", height: "19"}
#compbox
  #business
    %p
      技術の進歩と共に、製品の高機能化が進む中、
      %br
      取扱説明書の可視化に取り組んできました。
      %br
      お客様をサポートする最良のパートナーを目指し、
      %br
      ベストサービス・ベストプロダクトを提供してまいります。
      %br
      お客様の満足向上のため絶えず創造し、挑戦する企業、
      %br
      そして環境に優しく、世の中に役立つ企業であり続けます。
      %br
      今後ともより一層のご理解、ご支援を賜りますようお願い申し上げます。

%h2
  %img{src: '/images/subtit_companyinfo.gif', alt: "会社概要", width: "77", height: "19"}

#compbox
  %table{width: "100%", border: "0", cellspacing: "0"}
    %tr
      %td.compbox01
        %span.tspace 会社名
      %td 株式会社イイアイジイ
    %tr
      %td.compbox01
        %span.tspace 住&nbsp;&nbsp;所
      %td 〒196-0003 東京都昭島市松原町5-7-5 レーベンハウスⅡ 205
    %tr
      %td.compbox01
        %span.tspace 電&nbsp;&nbsp;話
      %td 042-519-7431(代)
    %tr
      %td.compbox01
        %span.tspace FAX
      %td 042-546-8715
    %tr
      %td.compbox01
        %span.tspace E-mail
      %td eig@orion.ocn.ne.jp
    %tr
      %td.compbox01
        %span.tspace 設立年月日
      %td 昭和50年 4月 28日
    %tr
      %td.compbox01
        %span.tspace 資本金
      %td 1000万円
    %tr
      %td.compbox01
        %span.tspace 代表者
      %td 小島忠光
    %tr
      %td.compbox01
        %span.tspace 取引銀行
      %td みずほ銀行、三菱東京UFJ銀行、三井住友銀行、西武信用金庫
    %tr
      %td.compbox01
        %span.tspace
          東京都物品買入れ等
          %br
          &nbsp;&nbsp;指定競争入札業者登録
      %td
        ・ 受付No.59574
        %br
        ・ 種目番号 126 &nbsp;&nbsp;[営業種目] 図面の製図、写図
        %br
        ・ 種目番号 137 &nbsp;&nbsp;[営業種目] その他の業務委託、各種案内書等版下作成

%h2
  %img{src: '/images/subtit_access.gif', alt: "アクセス", width: "77", height: "19"}
#compbox
  %p ■JR青梅線/JR八高線/西武拝島線 拝島駅 南口より徒歩4分
  %p
    %small
      より大きな地図(Googleマップ)で
      %a{href: "http://g.co/maps/ttfd6", target: "_blank", style: "color:#0000FF;text-align:left"}
        拝島駅から株式会社EIGへのルート
      を表示
    %img{src: '/images/local_map.png', alt: "アクセスマップ", width: "640", height: "460"}
