%h1
  %img{src: '/images/title_companyinfo.gif', alt: "会社概要", width: "750", height: "80"}
%h2
  %img{src: '/images/subtit_companyinfo.gif', alt: "会社概要", width: "77", height: "19"}

#compbox
  %table{width: "100%", border: "0", cellspacing: "0"}
    %tr
      %td.compbox01
        %span.tspace 会社名
      %td 株式会社イイアイジイ
    %tr
      %td.compbox01
        %span.tspace 住所
      %td 〒196-0003 東京都昭島市松原町5-7-5 レーベンハウスⅡ 205
    %tr
      %td.compbox01
        %span.tspace 電話
      %td 042-519-7431
    %tr
      %td.compbox01
        %span.tspace FAX
      %td 042-546-8715
    %tr
      %td.compbox01
        %span.tspace E-mail
      %td eig@orion.con.ne.jp
    %tr
      %td.compbox01
        %span.tspace 設立年月日
      %td 昭和50年 4月 28日
    %tr
      %td.compbox01
        %span.tspace 資本金
      %td 1000万円
    %tr
      %td.compbox01
        %span.tspace 代表者
      %td 小島忠光
    %tr
      %td.compbox01
        %span.tspace 取引銀行
      %td みずほ銀行、三菱東京UFJ銀行、三井住友銀行、西武信用金庫

%h2
  %img{src: '/images/subtit_access.gif', alt: "アクセス", width: "77", height: "19"}
#compbox
  %p ■JR/青梅線/八高線/西武拝島線 拝島駅 南口より徒歩4分
  %p
    %img{src: '/images/local_map.png', alt: "アクセスマップ", width: "640", height: "460"}
