%h1
  %img{src: '/images/title_contactus.gif', alt: "問い合わせ", width: "750", height: "80"}
%h2
  %img{src: '/images/subtit_access.gif', alt: "アクセス", width: "77", height: "19"}

#compbox
  %p ■JR青梅線/JR八高線/西武拝島線 拝島駅 南口より徒歩4分
  %p
    %small
      より大きな地図(Googleマップ)で
      %a{href: "http://g.co/maps/ttfd6", target: "_blank", style: "color:#0000FF;text-align:left"}
        拝島駅から株式会社イイアイジイへのルート
      を表示
    %img{src: '/images/local_map.png', alt: "アクセスマップ", width: "640", height: "460"}

#contact
  %img{src: '/images/eig.png', alt: "EIG", width: "580", height: "150"}
  %p.right_box
    お問い合わせは
    %a{href: "mailto:eig@orion.ocn.ne.jp?subject=EIGへの問い合わせ&amp;body=問い合わせ内容をご記入ください。"}
      %img{src: '/images/mail.png', alt: "メール", width: "20", height: "16"}
    でも可能です。
