!!! 5
%html
  %head
    %title
      = title
  %body
    .header
      %ul
        %li
          %a{href: '/'} TOP
        %li
          %a{href: '/overview'} Company Overview
        %li
          %a{href: '/process'} EIG Process
        %li
          %a{href: '/gallery'} EIG Gallery
        %li
          %a{href: '/access'} Access Map
        %li
          %a{href: '/inquiry'} Inquiry or Mail
        %li
          %a{href: '/recruit'} Recruitment
    .container
      != body
    .footer
      (c) 2011
