%h1
  %img{src: '/images/title_privacypolicy.gif', alt: "画像：個人情報保護方針", width: "750", height: "80"}
%h2
  %img{src: '/images/subtit_privacypolicy.gif', alt: "画像：個人情報保護方針", width: "128", height: "19"}

#privacy
  %p
    株式会社EIG(以下、当社)では、企業活動を通じて提供をいただいたお客様の個人情報を、
    適切に保護することが重要な責務と認識し、その取扱い方針を以下に定め個人情報の保護に努めます。
  %p
    %span.fontR_frt 1. 個人情報の利用目的
    %br
    個人情報は利用目的の達成範囲内で利用します。
  %p
    %span.fontR_frt 2. 個人情報の管理
    %br
    お客様の個人情報は、関係する法令に従い、適切な安全措置を講じることにより個人情報の漏洩、紛失、改ざんや、
    個人情報への不正アクセスなどを防止することに努めます。
  %p
    %span.fontR_frt 3. 個人情報の第三者への提供
    %br
    個人情報は、お客様の事前の同意を得ずに第三者に提供または開示をしません。但し、以下の場合を除きます。
  %p 1. 裁判所・法令等により、個人情報の開示を求められた場合

  %p
    %span.fontR_frt 4. お問い合わせ先
    %br
    お客様の個人情報のついてのお問い合わせは、下記窓口までお問い合わせください。
  %dl.prv_list01
    %dd TEL : 042-519-7431(代)
    %dd E-Mail : eig@orion.ocn.ne.jp
