fieldset,img { 
	border:0;
}

/* RollOverNavi */
#RollOverNavi {
	position: relative;
	width: 800px;
	margin: 0px;
	padding: 0px;
}

#RollOverNavi ul.nav {
	width: 800px;
	margin: 0px;
	padding: 0px;
}

#RollOverNavi ul.nav li {
	display: inline;
	float: left;
	width:800px;
	height:38px;
	list-style-type: none;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#RollOverNavi ul.nav li img {
	vertical-align: bottom;
	width: 160px;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
	float: left;
}

#RollOverNavi ul.nav li a {
	display: block;
	width:160px;
	height:38px;
	float: left;
	margin-left: 0px;
	padding-left: 0px;
}

#RollOverNavi ul.nav li.off {
	width:160px;
	height:38px;
	margin-left: 0px;
	padding-left: 0px;
}
#RollOverNavi ul.nav li.on {
	width:160px;
	height:38px;
	float: left;
	margin-left: 0px;
	padding-left: 0px;
}

#RollOverNavi ul.nav ol.subMenu {
	top:0;
	left:0;
	width:160px;
}


/*IE6‘Î‰ž*/
* html #RollOverNavi ul.nav ol.subMenu {
	top:0px;
}

#RollOverNavi ul.nav ol.subMenu li.off_sub {
	width:160px;
	height:37px;
}

#RollOverNavi ul.nav ol.subMenu li.on_sub {
	width:160px;
	height:37px;
}

#RollOverNavi ul.nav ol.subMenu li.lastChild {
	height:37px;
}

#RollOverNavi ul.nav ol.subMenu li img {
	vertical-align: bottom;
	margin-top: 0;
	margin-bottom: 0;
}

#RollOverNavi ul.nav ol.subMenu li a {
	display: block;
	width:160px;
	height:37px;
}

#RollOverNavi ul.nav ol.subMenu li.lastChild a {
	height:37px;
}

/* •ÒW•s‰Â */
#RollOverNavi ul.nav *{
	display: block;
	margin: 0px;
	padding: 0px;
	list-style:none;
}

#RollOverNavi ul.nav {
	position: relative;
}

#RollOverNavi ul.nav li.off {
	position: relative;
	float: left;
	overflow: hidden;
	width: 160px;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

#RollOverNavi ul.nav li.on {
	float: left;
	overflow: hidden;
	width: 160px;
	margin-left: 0px;
	padding-left: 0px;
}

#RollOverNavi ul.nav li.off {
	position: relative;
	float: left;
	overflow: hidden;
	width: 160px;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

#RollOverNavi ul.nav li.on {
	float: left;
	overflow: hidden;
	width: 160px;
	margin-left: 0px;
	padding-left: 0px;
}

#RollOverNavi ul.nav>li.on {
	overflow: visible;
	width: 160px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#RollOverNavi ul.nav ol.subMenu {
	position: relative;
}
#RollOverNavi ul.nav ol.subMenu li.off_sub {
	position: relative;
	overflow: hidden;
}
#RollOverNavi ul.nav ol.subMenu li.on_sub {
	overflow: hidden;
}
#RollOverNavi ul.nav ol.subMenu>li.on_sub {
	overflow: visible;
}

