.formError {
  color: red;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color:#FFFFFF;
  text-align:left;
  height:100%;
}

#header {
  background-color:#FFFFFF;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:15px;
  width:50em;
}

#body {
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  background-color:#FFFFFF;
  overflow:hidden;
  width:50em;
  height:auto;
}

#content {
  padding:10px;
  float: left;
  text-align:left;
  width:32.1em;
  padding-bottom:32767px;
  margin-bottom:-32767px;
}

#footer {
  background-color:#ffffff;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  width:50em;
}
